<h1>Kurtis</h1>
<hr/>
<p>Designer Kurtis Collection</p>
<div class="row product-detail" >
    <div class="col-sm-5 img-col">
      <div class="images-wrapper loaded">
        <div id="image-main">
          <ul class="bxslider">
            <li>
              <div class="image-table">
                <div class="image-cell">
                  <img src="//nebula.wsimg.com/obj/NUMxNzBCRjFENEFCMUEzMDFGMTI6NWY3Y2NiY2I0MmEzNWE5NGMwZWMzZGM1NGNhOWMzZTE6Ojo6OjA=">
                </div>
              </div>
            </li>
          </ul>
          <div class="overlay" data-toggle="modal" data-target="#product-modal"></div>
          <div class="control-wrapper prev-wrapper"><div class="bx-prev"></div></div>
          <div class="control-wrapper next-wrapper"><div class="bx-next"></div></div>
        </div>
      </div>
    </div>
    <div class="col-sm-7">
      <h1 class="single-product-title" id="product-name">
        {{details.name}}
      </h1>
      <div class="single-product-price">
        <span id="regular-price"><span class="rupee">$</span>{{details.price}}</span>
        <span id="sale-price"></span>
      </div>
      <form id="product-form" class="form-vertical">
        <div class="required-legend pull-right" style="display: none;">Required</div>
        <div class="form-group">
          <label>QTY</label>
          <input type="number" id="product-quantity" class="form-control single-product-qty input-sm" name="quantity" min="1" max="999" value="1">
          <input type="hidden" name="variant_id" value="273">
        </div>
        <input type="submit" value="Add to Cart" data-adding="Adding to cart..." class="btn btn-primary" id="product-submit">
      </form>
    </div>
  </div>
