<ul class="row breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#/kurtis">Kurtis</a></li>
    <li class="active">{{details.id}}</li>
</ul>


<hr/>
<h3>Designer Kurtis Collection</h3>
<div class="row page-products" >
    <div class="col-sm-5 img-col">
      <div class="images-wrapper loaded">
      <div id="image-main">
        <div class="image-table">
          <div class="image-cell">
            <img ng-src="{{details.image}}">
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-sm-7">
      <h1>
        {{details.name}}
      </h1>
      <div>
        <span class="single-product-price"><span>$</span>{{details.price}}</span>
      </div>
      <div class="single-product-description" id="product-description">
          {{details.desc}}
      </div>
    </div>
</div>
