<ul class="row breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#/products/{{details.actor}}">{{details.type}}</a></li>
    <li class="active">{{details.id}}</li>
</ul>


<hr/>
<h3>Designer Kurtis Collection</h3>
<div class="row page-products" >
    <div class="col-sm-7 img-col">
      <div class="images-wrapper loaded">
      <div id="image-main">
        <div class="image-table">
          <div class="image-cell">
            <img ng-src="{{details.image}}">
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-sm-5">
      <h1>
        {{details.name}}
      </h1>
      <div>
        <span class="single-product-price"><span>$</span>{{details.price}}</span>
      </div>
      <div>
          <ngcart-addtocart id="{{details.id }}" name="{{details.name }}" price="{{ details.price }}" quantity="1" quantity-max="1" data="details">Add to Cart</ngcart-addtocart>
      </div>
      <div class="single-product-description" id="product-description">
          {{details.desc}}
      </div>
      <div class="single-product-description" id="product-description">
          Sizes available : {{details.Size}}
      </div>
      <div class="single-product-description" id="product-description">
          How to order : {{details.Order}}
      </div>
      <div class="single-product-description" id="product-description">
          We can attach hands for free and other alteration available.
      </div>
    </div>
</div>
