<form name="myForm">
 <div class="row">

    <div class="col-md-6">
      <div class="box">
        <h3>Billing Information</h3>
        <div class="control-group">
            <label class="control-label">Full Name</label>
            <div class="controls">
                <input id="full-name" name="user.fullName" ng-model="user.fullName" type="text" placeholder="full name"
                class="input-xlarge" required>
                <span ng-show="myForm.user.fullName.$touched && myForm.user.fullName.$invalid">Full name is required.</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Email</label>
            <div class="controls">
                <input id="email" name="user.email" ng-model="user.email" type="text" placeholder="Email"
                class="input-xlarge" required>
                  <span ng-show="myForm.user.email.$touched && myForm.user.email.$invalid">Email is required.</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Phone</label>
            <div class="controls">
                <input id="phone" ng-model="user.phone" name="user.phone" type="text" placeholder="Phone"
                class="input-xlarge" required>
                <span ng-show="myForm.user.phone.$touched && myForm.user.phone.$invalid">Phone is required.</span>
            </div>
        </div>
    </div>
  </div>
    <div class="col-md-6 box">

        <div>
          <h3>Order details</h3>
          <ngcart-cart></ngcart-cart>
        </div>

  </div>
</div>
<div class="row extra-bottom-padding">
  <div class="col-xs-12 text-right">
      <button class="btn btn-primary" name="Continue" type="button" value="Continue" ng-click="ufContinue()">Continue</button>
    </div>
</div>
</form>
